/firmware/.settings
/firmware/Debug
/firmware/Debug_GD-77
/firmware/Debug_DM-1801
/firmware/Debug_GD-77S
/firmware/Debug_RD-5R
/firmware/Release
/firmware/*.launch
/firmware/linkerdata/*.dat
/firmware/linkerdata/*.bin
/ComTool/.vs
/ComTool/ComTool/bin
/ComTool/ComTool/obj
/tools/font_tools/font_converter/font_*
/tools/bin2sgl/.vs
/tools/bin2sgl/obj