/firmware/.settings
/firmware/Release
/firmware/*.launch
/firmware/linkerdata/*.dat
/firmware/linkerdata/*.bin
/ComTool/.vs
/ComTool/ComTool/bin
/ComTool/ComTool/obj
/tools/font_tools/font_converter/font_*
