/firmware/.settings
/firmware/Debug
/firmware/Debug_GD-77
/firmware/Debug_DM-1801
/firmware/Release
/firmware/*.launch
/firmware/linkerdata/*.dat
/ComTool/.vs
/ComTool/ComTool/bin
/ComTool/ComTool/obj
/font_tools/font_converter/font_*
